header
{
  height:60px;
  width:100%;
  background-color: rgb(248, 21, 21);
  color: white;
  font-size:1.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main
{
  display: grid;
  grid-template-columns:1fr;
  row-gap:40px;
  column-gap:40px;
  width:80%;
  height:250px;
  margin:30px 20px;
}   
.container
{
  display:flex;
  justify-content: space-between;
  gap:20px;   
}
.place-pic
{
  width:900px;
  height:250px;
  object-fit:cover; 
  border-radius: 10px;
}
.explore-button
{
  background-color: red;
  color:white;
  padding: 4px 20px;
  font-size: 17.5px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 16px;
}